### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
Projet_CMPL.iml
.idea/modules.xml
.idea/libraries/libs.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/libraries/src.xml
.gitignore
.idea/vcs.xml
.idea/vcs.xml

/tests/*.obj
/tests/*.gen